.upload-section {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.upload-form label {
  font-weight: bold;
}

.upload-form .file-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #218838;
}

/* Estilos para el formulario de búsqueda */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para la grilla */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

/* Estilos para los ítems de la grilla */
.grid-item {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card p {
  margin: 0;
  margin-bottom: 10px;
}

.card p:last-child {
  margin-bottom: 0;
}

.card strong {
  color: #333;
}
